@(topics: Seq[Topic], topicForm: Form[TopicData])(implicit request: MessagesRequestHeader)
@import helper._

@main("Welcome to Play") {
  <h1>@Messages("title")</h1>

  @helper.form(action = routes.TopicsController.create()) {
    @CSRF.formField
    @helper.inputText(topicForm("title"), '_label -> Messages("models.topic.title"))
    @helper.inputText(topicForm("body"), '_label -> Messages("models.topic.body"))
    <input type='submit' value='@Messages("form.submit")'>
  }


  <ul>
    @for(topic <- topics) {
      <li><a href="@controllers.routes.TopicsController.show(topic.id.value)">@topic.title</a></li>
    }
  </ul>
}
