@(topics: Seq[Topic], topicForm: Form[TopicData])(implicit request: MessagesRequestHeader)
@import helper._

@main("Welcome to Play") {
  <h1>掲示板</h1>

  @helper.form(action = routes.TopicsController.create()) {
    @CSRF.formField
    @helper.inputText(topicForm("title"), '_label -> "スレッドタイトル")
    @helper.inputText(topicForm("body"), '_label -> "スレッド説明文")
    <input type='submit' value='送信'>
  }


  <ul>
    @for(topic <- topics) {
      <li><a href="@controllers.routes.TopicsController.show(topic.id.value)">@topic.title</a></li>
    }
  </ul>
}
