@(topic: Topic, comments: Seq[Comment], commentForm: Form[CommentData])(implicit request: MessagesRequestHeader)
@import helper._
@import customHelpers._
@implicitFieldConstructor = @{ FieldConstructor(customHelpers.inputText.f) }

@main("Welcome to Play") {
  <h1>@topic.title</h1>

  <ul>
    @for(comment <- comments) {
      <li>@comment.body</li>
    }
  </ul>

  @helper.form(action = routes.CommentsController.create(topic.id.value)) {
    @CSRF.formField
    @helper.inputText(commentForm("body"), '_label -> Messages("models.comment.body"))
    <input type='submit' value='@Messages("form.submit")'>
  }
}
