@(topic: Topic, comments: Seq[Comment], commentForm: Form[CommentData])(implicit request: MessagesRequestHeader)
@import helper._

@main("Welcome to Play") {
  <h1>@topic.title</h1>

  <ul>
    @for(comment <- comments) {
      <li>@comment.body</li>
    }
  </ul>

  @helper.form(action = routes.CommentsController.create()) {
    @CSRF.formField
    @helper.inputText(commentForm("body"), '_label -> "コメント")
    <input type="hidden" value="@topic.id.value" name="topicId">
    <input type='submit' value='送信'>
  }
}
